body {
    padding: 0;
    margin: 0;
}

#map {
    z-index: 0;
    height: 100%;
}

.modal-content{
    border: none;
}

#leftside, #rightside{
    width: 100%;
    height: 50vh;
}

#mapB{
    display: none;
}

@media screen and (max-width: 768px) {
  #leftside{
      font-size: 1em;
      height:100vh;
      display: none;
     
  }
  #chooseCountry{
      font-size: 1.2em !important;
      margin-top: -12px;
  }
  .fa-3x{
      font-size: 2em;
  }
  #title{
      font-size: 2em;
      margin-top: 3px;
  }
  #rightside{
      height:100vh;
  }
  #mapB{
      display: block;
      margin-left: 50%;
      transform: translateX(-50%);
      position: absolute;
      z-index: 600;
      top: 0.3px;
      font-size: 1.4em;
  }
  #infoB{
    margin-left: 50%;
    transform: translateX(-50%); 
    width: 100px;
    display: block;
    font-size: 1.4em;
  }
  #cPhoto{
      display: none;
  }
}

@media screen and (max-width: 404px) {
  #leftside{
      font-size: 0.9em;
  }
}

@media screen and (max-width: 404px) {
  #leftside{
      font-size: 0.9em;
  }
  #countryP img{
      width: 55px;
      height: 55px;
  }
}

@media screen and (max-width: 364px) {
  #leftside{
      font-size: 0.8em;
  }
}

@media screen and (max-width: 300px) {
  #leftside{
      font-size: 0.7em;
  }
}



@media screen and (min-width: 768px) {
  #leftside, #rightside{
      height: 100vh;
      display: block !important;
  }
  #leftside{
      font-size: 0.8em;
  }
  #countryP img{
      width: 55px;
      height: 55px;
  }
  #infoB{
      display: none;
  }
}

.modal-content::before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-image: url(../images/sun2.gif); 
    background-size: cover; 
    opacity: 95%;
}


.table{
    width: 100%;
    color: white;
}

#forecast{
    color: white;
}

p{
    font-size: 0.7em;
}

#right{
    text-align: right;
}

#left{
    text-align: left;
}

.table td{
    border: 0;
}

.lowHigh{
    justify-content: center;
}

h1{
    color: black;
    font-size: 2.5em;
}

.description{
    color: white;
    font-size: 0.7em;
}

.temp{
    color: white;
    font-size: 2em;
    font-weight: 500;
}

#hi, #lo{
    color: white;
    font-size: 0.7em;
}

#hi{
    padding-right: 5px;
    color: white;
}

#lo{
    padding-left: 5px;
    color: white;
}


#info{
    margin-top: 5px;
    margin-bottom: 5px;
}



#cPhoto{
    height: auto; 
}

.leaflet-popup-content{
  text-align: center;
  margin-left: 20px;
}
.leaflet-popup-scrolled{
    padding-left: 5px;
}


#seeM{
    margin: 5px 0;
    text-align: right;
    font-size: 1em;
    font-weight: 600;
}

#nameP{
    font-weight: 700;
    font-size: 3em;
}

#history{
    font-size: 1.5em;
    font-weight:600;
    padding-top: 15px;
}

#int{
  text-align:center;
  font-size: 1.5em;
}

#countryP{
  font-weight: 600;
  font-size: 3em;
  margin-bottom: -10px;
}
  
#detailsP{
    text-align: left;
    font-size: 2em;
    
}

#weatherP{
    font-size: 2em;
}

#wdetailsP{
    text-align: left;
} 

#timeC{
  margin-top: 5px;
  margin-left: 2px;
}

#timeZ{
  margin-left: 2px;
}

#wikiP{
  margin-top: -10px;
}

.modal{
    display: block;
    height: 0;
}

.btn {
  font-size: 0.7em;
  font-weight: 700
}

h6{
  font-size: 1.4em;
  font-weight: 600;
}

#readmore{
    color: white;
    font-size: 0.8em;
   
}



.box{
    height: 52px;
    overflow: hidden;
}

.boxB{
    height: 52px;
    overflow: hidden;
}

#readmoreB{
    margin-top: 10px;
}

#readmoreC{
    margin-top: 10px;
}

.box.showContent, .boxB.showContent{
    height: auto;
}

.showContent #readmoreB{
    background-color: red !important;
}

.showContent #readmoreC{
    background-color: red !important;
}






@media screen and (min-width: 420px) {
  .slick-active{
      width: 100px !important;
  }
  .modal-content{
      width: 400px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  }



::-webkit-scrollbar-thumb {
    
    background: linear-gradient(45deg,#06dee1,#79ff6c);
    border-radius: 3px;
    
}

#absolute {
    display: none;
    position: absolute;
    z-index: 500;
    font-size: 1.5em;
     background: white; 
    top: 165px;
    left: 40px;
     border-radius: 10px; 
     min-width: 300px; 
    max-width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 300ms ease-in-out;
    margin-right: 40px;
    
}

#titleH h2{
  font-size: 1.6em;
  padding-top: 2px;
  font-weight: 600;
}


#exchange > div {
    padding: 10px !important;
  }

  #exchangeRecieved, #toCurrencySymbol {
    font-size: 1em !important;
    font-weight: 600;
  }

  #exchangeBtn {
    background-color: #F9DB6D;
    color: rosybrown;
    border: 1px solid #F9DB6D;
  }

  #exchange {
    color: #30343F;
    background: cadetblue;
    border-radius: 10px;

  }
  

  
  .exchangeInput {
    text-align: center;
    text-align-last: center;
     border: 2px solid black;
    border-radius: 10px;
    background: rosybrown;
    font-weight: 600;
  }
  
  #convertBtn {
    font-size: 1.2em;
    font-weight: 600;
    
    background-color: #30343F;
    color: rosybrown;
    border: 0 solid transparent;
    border-radius: 10px;
  }
  
  #exchange > div > h4 {
    font-size: 1em;
    font-weight: 600;
  }
  
  #exchangeRecieved, #toCurrencySymbol {
    font-size: 1.5em;
  }
  
  #exchange .row{
    margin-left: 40px;
    
  }
  
  button.close{
      padding: 10px;
  }
  
#infoC {
    z-index: 600;
    font-size: 0.6em;
    text-align: center;
   
}


#chooseCountry {
    text-align: center;
    text-align-last: center;
    border: 0px solid black;
    border-radius: 10px;
    font-size: 1.5em;
    background: rosybrown;
  }
  
#wikiP a{
    color:rosybrown;
}
  
#myModal h1{
    font-size: 1em;
}

#pic{
    margin-left: -2px;
}

body{
    background: cadetblue;
    background-size: cover;
}

.sun{
    margin-left: -4px;
}

.city{
    color: white;
}

.leaflet-popup-tip-container{
    position: relative;
}

h3{
    font-size: 1.7em;
}

